body {
    background-color: #ffffff;
		}

		h1{
	color: black;
    text-align: center;
    font-family: verdana;

		}

		img { 
    position: relative;
    margin-left: 450px; 

}

	p{
	color: black;
	text-align: left;
	font-weight: normal;

}

	h3{
	color: black;
	text-align: left;
	font-weight: bold;
}